#display-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2rem;
}

.homepage-document-list-item {
    width: 5rem;
    height: 8rem;
    border: 1px solid black;
    background-color: white;
    color: black;
    overflow: hidden;
}
.homepage-navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 10px rgb(190, 190, 190);
	border-bottom: 1px solid rgb(196, 196, 196);
	padding: 0.5rem;
	gap: 1rem;
	background-color: #fff5f4;
	img {
		background-color: white;
	}
	h1 {
		font-size: 1.5rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	button {
		padding: 1rem;
	}

}
